.container{
    margin-top: 55px;
    display: flex;
    justify-content: space-around;

    .main_title{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-align: center;
    }
}