.container{
    border: 1px solid lightblue;
    border-radius: 9px;
    padding: 15px;

    .item_title{
        color: dodgerblue;
    }

    .item_para{
        color: hotpink;
    }

    .images{
        width: 250px;
        height: 250px;
    }
}